AdventureWorksClient/Service References/AdventureWorksServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://adventure.works" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://adventure.works" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://adventure.works/Imports">
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd0" namespace="http://adventure.works" />
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/awsvclib.Contracts" />
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AdventuresWorks_GetSalesOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesOrders" />
  </wsdl:message>
  <wsdl:message name="AdventuresWorks_GetSalesOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="AdventuresWorks_GetSalesOrdersCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesOrdersCount" />
  </wsdl:message>
  <wsdl:message name="AdventuresWorks_GetSalesOrdersCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesOrdersCountResponse" />
  </wsdl:message>
  <wsdl:message name="AdventuresWorks_GetSalesOrderDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesOrderDetails" />
  </wsdl:message>
  <wsdl:message name="AdventuresWorks_GetSalesOrderDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="AdventuresWorks_GetPeople_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeople" />
  </wsdl:message>
  <wsdl:message name="AdventuresWorks_GetPeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleResponse" />
  </wsdl:message>
  <wsdl:message name="AdventuresWorks_GetPeopleCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleCount" />
  </wsdl:message>
  <wsdl:message name="AdventuresWorks_GetPeopleCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleCountResponse" />
  </wsdl:message>
  <wsdl:message name="AdventuresWorks_GetAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddresses" />
  </wsdl:message>
  <wsdl:message name="AdventuresWorks_GetAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="AdventuresWorks_GetAddressesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressesCount" />
  </wsdl:message>
  <wsdl:message name="AdventuresWorks_GetAddressesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressesCountResponse" />
  </wsdl:message>
  <wsdl:message name="ProductImageRequest">
    <wsdl:part name="parameters" element="tns:ProductImageRequest" />
  </wsdl:message>
  <wsdl:message name="ProductImageMessage">
    <wsdl:part name="parameters" element="tns:ProductImageMessage" />
  </wsdl:message>
  <wsdl:message name="ProductImageMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
  </wsdl:message>
  <wsdl:portType name="AdventuresWorks">
    <wsdl:operation name="GetSalesOrders">
      <wsdl:input wsaw:Action="http://adventure.works/AdventuresWorks/GetSalesOrders" message="tns:AdventuresWorks_GetSalesOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://adventure.works/AdventuresWorks/GetSalesOrdersResponse" message="tns:AdventuresWorks_GetSalesOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrdersCount">
      <wsdl:input wsaw:Action="http://adventure.works/AdventuresWorks/GetSalesOrdersCount" message="tns:AdventuresWorks_GetSalesOrdersCount_InputMessage" />
      <wsdl:output wsaw:Action="http://adventure.works/AdventuresWorks/GetSalesOrdersCountResponse" message="tns:AdventuresWorks_GetSalesOrdersCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrderDetails">
      <wsdl:input wsaw:Action="http://adventure.works/AdventuresWorks/GetSalesOrderDetails" message="tns:AdventuresWorks_GetSalesOrderDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://adventure.works/AdventuresWorks/GetSalesOrderDetailsResponse" message="tns:AdventuresWorks_GetSalesOrderDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPeople">
      <wsdl:input wsaw:Action="http://adventure.works/AdventuresWorks/GetPeople" message="tns:AdventuresWorks_GetPeople_InputMessage" />
      <wsdl:output wsaw:Action="http://adventure.works/AdventuresWorks/GetPeopleResponse" message="tns:AdventuresWorks_GetPeople_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPeopleCount">
      <wsdl:input wsaw:Action="http://adventure.works/AdventuresWorks/GetPeopleCount" message="tns:AdventuresWorks_GetPeopleCount_InputMessage" />
      <wsdl:output wsaw:Action="http://adventure.works/AdventuresWorks/GetPeopleCountResponse" message="tns:AdventuresWorks_GetPeopleCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddresses">
      <wsdl:input wsaw:Action="http://adventure.works/AdventuresWorks/GetAddresses" message="tns:AdventuresWorks_GetAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://adventure.works/AdventuresWorks/GetAddressesResponse" message="tns:AdventuresWorks_GetAddresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressesCount">
      <wsdl:input wsaw:Action="http://adventure.works/AdventuresWorks/GetAddressesCount" message="tns:AdventuresWorks_GetAddressesCount_InputMessage" />
      <wsdl:output wsaw:Action="http://adventure.works/AdventuresWorks/GetAddressesCountResponse" message="tns:AdventuresWorks_GetAddressesCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductImage">
      <wsdl:input wsaw:Action="http://adventure.works/AdventuresWorks/GetProductImage" name="ProductImageRequest" message="tns:ProductImageRequest" />
      <wsdl:output wsaw:Action="http://adventure.works/AdventuresWorks/GetProductImageResponse" name="ProductImageMessage" message="tns:ProductImageMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>